body {
  font-family: 'Montserrat', sans-serif;
}

input {
  margin-bottom: 5px;
}

label {
  margin: 1px;
}
 
.card-columns {
  orphans: 1;
  widows: 1;
}

.card {
  border: solid 1px rgb(0, 0, 0, 0.3);
  transition: border-width 0.3s linear;
  display: inline-block;
}

.card:hover {
  border-width: 8px;
}

#add-book-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: -1;
}